body {
  background-color: beige;
  color: brown;
  margin: 20px;
}

h1 {
  text-decoration: underline;
}

.a-class {
  font-size: 100px;
}

.centered-parent {
  width: 40vw;
  height: 40vh;
  position: relative;
  left: 30vw;
  top: 30vh;
  background-color: yellow;
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forty-forty {
  width: 40vw;
  height: 40vh;
  background-color: yellow;
  text-align: center;
  line-height: 40vh;
}
