:root {
  --add-success-green: rgb(94, 230, 3);
  --light-gray-background: rgb(238, 238, 238);
  --max-width: 800px;
  --text-padding: 12px;
  --input-height: 2.8rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo,
#root {
  max-width: var(--max-width);
  text-align: center;
  width: 100%;
  max-width: var(--max-width);
}

input {
  border-style: solid;
  border-color: var(--light-gray-background);
  background-color: var(--light-gray-background);
  height: var(--input-height);
  padding-left: var(--text-padding);
}

.rounded-input {
  border-radius: 30px;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.todo-input-form {
  position: relative;
  display: flex;
}

.add-icon {
  background-color: var(--add-success-green);
  border-radius: 100%;
  font-size: calc(var(--input-height) + 6px);
}

.icon {
  vertical-align: middle;
}

.success {
  color: rgb(72, 180, 0);
}

.todo-item {
  background-color: var(--light-gray-background);
  padding-left: var(--text-padding);
  text-align: left;
  margin-top: 6px;
  line-height: 2rem;
  color: rgb(78, 78, 78);
  position: relative;
}

.todo-item input {
  height: 2rem;
  padding: 0;
}

.plain-button {
  all: unset;
}

.completed-task {
  text-decoration: line-through;
}

.task-button-holder {
  position: absolute;
  top: 0;
  right: 0;
  align-self: anchor-center;
}

/* Original boilerplate CSS */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
